# Strict peer dependencies
auto-install-peers=true
strict-peer-dependencies=false

# Hoisting settings
shamefully-hoist=true
node-linker=hoisted
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Save exact versions
save-exact=true